.window {
  padding: 30px;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.button {
  border-color: #FFFFFF;
  background-color: white;
  width: 39px;
  height: 39px;
  position: static;

  img:active {
    border-radius: 50%;
    border: 0.1px solid rgba(0, 0, 0, 0.001);
    box-shadow: 1px 1px 14px 1px rgba(0, 0, 0, 0.001);
  }
  img:hover {
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 1px 1px 14px 1px rgba(0, 0, 0, 0.30);
    background-color: rgba(0, 0, 0, 0.15);
  }
}

.carousel_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-top: 60px;
  position: relative;
  max-height: 349px;
  max-width: 1346px;
}

.all_pages {
  display: grid;
  padding-left: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  grid-gap: 2vw;
  transition: translate;
  transition-property: transform;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}
