@import "./basic/variables.color.scss";

.list_rate {
  padding-top: 50px;
  list-style-image: url("../images/card/icons8.png");
  list-style-position: inside;
  font-size: 18px;
  ul {
    li {
      font-family: Inter, sans-serif;
      font-size: 18px;
    }
  }
}

.tariffs_card {
  position: relative;
  padding-left: 30px;
  p {
    padding-top: 4px;
    font-size:14px ;
    position: absolute;
    margin-left: 240px;
    color: #FFFFFF;
    text-align: center;
    border-radius: 10px;
    background-color: #3BA5E0;
    width: 134px;
    height: 20px;


  }
  .price_list {
    padding-top: 29px;
    color: black;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: 30px;
    width: 190px;
    h4 {
      margin: 0;
    }
    del {
      opacity: 50%;
    }
  }
  h5 {
    height: 21px;
    margin: 10px 0 0 0;
    font-size: 18px;
  }
}

@media only screen and (max-width: 455px){
  .tariffs_card{
    p {
      margin:3px 0 0 160px;
    }
    .price_list{

    }
    h5{
      width: 258px;
    }
  }
  .list_rate{
    h2 {
      font-size: 18px;
    }
    ul {
      li {
        font-size: 16px;
      }
    }
  }
}

