@import "basic/variables.color";


.footer {
  display: grid;
  justify-content: end;
  background-color: $basic-color-turquoise;
  align-items: center;
  width: auto;
  height: 137px;
  list-style: none;
  ul {
    size: 14px;
    padding-right: 20px;
    color: $basic-color-white;
    list-style: none;
    li {
      font-family: Inter-Regular, sans-serif;
    }
  }
}