@import "basic/variables.color";

.header {
  background: $basic-color-white;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  justify-content: space-between ;
  align-items: center;
  svg{


  }
}
.menu {
  font-family: Inter,sans-serif;
   display: grid;
  align-items: center;
}