
.panel {
  width: 100%;
  display: flex;
  justify-content:end;

  ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    height: 63px;
    width: 173px;
    background: rgb(0 0 0/10%);
    margin: 0;
    padding: 0;
    list-style: none;
    .companyLimit{
      h2 {
        color: black;
      }
    }
    .usedCompanyCount {

      h2 {
        color:  #8AC540;
      }
    }

    li {
      color: rgb(0 0 0 /40%);
      font-size: 12px;
      display: flex;
      white-space: nowrap;

      h2 {
        padding-left: 5px;
        font-size: 20px;
        margin: 0;

      }
    }
  }
}

@media only screen and (max-width: 744px) {
  .panel {
    position: relative;
    right: 30px;

    ul {
      margin-top: 16px;
      width: 132px;
      height: 75px;
      align-items: start;
      li {
        display: inline-block;
      }
    }
  }
}

@media only screen and (max-width: 430px) {
  .panel {
    right: 0;
  }

}

@media only screen and (max-width: 414px) {
  .panel {
    position: fixed;
    right: 120px;
  }
}

@media only screen and (max-width: 375px) {
  .panel {
    position: fixed;
    right: 100px;
  }
}