@import "./basic/variables.color";

.login_form {
  font-family: Inter, sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0;
  width: 429px;
  height: 523px;
  min-width: 335px;
  min-height: 504px;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 #00000026;
  p {
    font-size: 14px;
    text-align: center;
  }
  img {
    margin: 0 70px 40px  0;
    max-width: 308px;
  }
}

.navigation {
  margin: 20px 0 40px 0;
  width: 88.5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  h4 {
    font-size: 16px;
    margin: 0 0 10px 0;
  }

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  span {
    height: 2px;
  }

  div:nth-child(1) {
    color: $basic-color-turquoise;

    span {
      width: 151px;
      background-color: $basic-color-turquoise;
    }
  }

  div:nth-child(2) {
    opacity: 50%;

    span {
      width: 213px;
      background-color: black;

    }
  }
}

.container_input {

  display: flex;
  flex-direction: column;
  width: 379px;
  height: 320px;
}


.button {
  cursor: pointer;
  font-size: 22px;
  color: #FFFFFF;
  background-color: #5970FF;
  width: 379px;
  height: 59px;
  border-radius: 5px;
  border: none;
}

.button:disabled {
  cursor: default;
  opacity: 50%;
}

.button:active {
  opacity: 30%;
}
.error {
  position: relative;
  margin: 0;
  color: red;
}
#error_input {
  border-color: red;
  box-shadow: 0 0 20px 0 red;
}