.wrapper {
  width:94.4vw;
  max-width: 1440px;
}

.main {
  max-width: 1320px;
}
@media (max-width: 1020px) {
  .wrapper {
    width: 100%;
  }
}
@media only screen and (max-width: 390px) {
  .main {
    max-width: 390px;
  }
}