@import "./basic/variables.color";

.container_nav {
  margin-left: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 250px ;
  .auth {
    cursor: pointer;
    width: 65px;
    height: 26px;
    background-color: $register-panel-desktop-color-button;
    border-radius: 5px;
    border: none;
  }
  .auth:active {
    background-color: $register-panel-desktop-color-button-active;
  }
  .reg {
    color: black;
    text-decoration: none;
    opacity: 50%;
  }
  .reg:active {
    opacity: 1;
  }
  .reg:hover {
    color: $register-panel-desktop-color-button-hover;
  }

  span {
    position: relative;
    z-index: 1;
    padding: 0;
    width: 2px;
    height: 26px;
    background-color: $basic-color-turquoise;
  }
}
@media (max-width: 820px) {
  .container_nav {
    display: none;
  }
}




