.wrapper_search {
  max-width: 1320px;
  width: 82vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  div {
    .h2 {
      margin: 0;
      font-size: 40px;
      font-family: Ferry, sans-serif;
    }

    .h4 {
      font-weight: normal;
      font-size: 16px;
      font-family: Inter, sans-serif, sans-serif;
    }
  }
}

.images_container {
  max-width: 505px;
  max-height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  position: relative;
  top: 100px;

  .img_human {
    width: 25vw;
    padding-left: 20px;
    padding-bottom: 40px;
  }

  .img_folders {
    width: 9vw;
    position: relative;
    left: 260px;
  }
}

.img_document {
  width: 5vw;
  position: relative;
  bottom: 260px;
  left: 0;
}

.overlay {
  margin-top: 93px;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 0;
  top: 0;
  right: 0;
  background-color: rgb(253, 253, 254);
  transition: 0.5s;
  overflow-x: hidden;
}

.overlay_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  margin-top: 30px;
}


.open_button {
  margin-top: 30px;
  padding: 10px 30px;
  background: #2196f3;
  color: #029491;
  cursor: pointer;
  border: none;
  border-radius: 10px;
}

.open_button:hover {
  background: #0b7dda;
}


.close_button {
  position: absolute;
  z-index: 1;
  top: 20px;
  right: 45px;
  font-size: 60px;
  border: none;
  background: transparent;
  cursor: pointer;
  color: #029491;
}


@media (max-width: 1100px) {
  .wrapper_search {
    flex-direction: column;
    align-items: center;

    div {
      .h2 {
        font-size: 4vw;
      }
    }
  }

  .images_container {
    .img_human {
      position: relative;
      bottom: 140px;
      width: 58vw;
      padding: 0;
    }

    .img_folders {
      display: none;
    }
  }

  .img_document {
    left: 44vw;
    bottom: 670px;
  }
}

@media only screen and (max-width: 820px) {
  .wrapper_search {
    margin-top: 30px;
  }
  .img_document {
    bottom: 940px;
    left: 250px;
  }

}

@media only screen and (max-width: 768px) {
  .images_container {
    top: 0;
    .img_human {
      top: 0;
    }
  }
}

@media only screen and (max-width: 430px) {
  .wrapper_search {
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 328px;
       .h2 {
        font-size: 30px;
      }
      .h4 {
        font-size:18px;
        br {

        }

      }
    }
  }
  .img_document {
    width: 52px;
    left: 150px;
    bottom: 868px;
  }


}

@media only screen and (max-width: 393px) {

}

@media only screen and (max-width: 375px) {

}

