@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
.slider_container {
  max-width: 1260px;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  width: 84vw;
  max-height: 158px;
  border-radius: 10px;
  border: #029491 solid 2px;
  margin-bottom: 90px;
}

.left_part {
  padding: 0 30px 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px 0 0 10px;
  position: relative;
  z-index: 1;
  width: 133px;
  max-height: 158px;
  background-color: #029491;
}
.left_part p {
  color: #FFFFFF;
  font-family: Inter, sans-serif, sans-serif;
  font-size: 20px;
  font-style: normal;
}
.left_part p:nth-child(2) {
  margin: 10px 0 10px 0;
}

.box {
  width: 140px;
  height: 158px;
}

.content_box {
  display: flex !important;
  flex-direction: row !important;
  width: 140px;
  height: 150px;
}
.content_box span {
  display: block;
  background-color: #949494;
  height: 124px;
  width: 2px;
}

.content_box_text {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center;
  width: 140px;
  height: 150px;
}
.content_box_text p {
  font-size: 18px;
  font-family: Inter, sans-serif;
}
.content_box_text p:nth-child(1) {
  padding-top: 10px;
}

.slick_slider {
  position: relative;
  right: 20px;
  max-width: 1235px;
}
.slick_slider button {
  font-size: 0;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  border-top: 4px solid #000000;
  border-left: 4px solid #000000;
  width: 20px;
  height: 20px;
}
.slick_slider button:nth-child(1) {
  transform: rotate(-45deg);
  position: relative;
  z-index: 5;
  right: 124px;
}
.slick_slider button:nth-child(3) {
  transform: rotate(130deg);
  position: relative;
  left: 3px;
  z-index: 5;
}

.slider_container div:nth-child(2) {
  width: 77vw;
  height: 158px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 1164px;
}
.slider_container div:nth-child(2) div {
  border-radius: 10px;
  position: relative;
  max-height: 158px;
  overflow: hidden;
  display: inline-block;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1024px) {
  .slick_slider {
    right: 34px;
  }
  .box p {
    padding-right: 15px;
  }
  .box p:nth-child(2) {
    margin-bottom: 5px;
  }
}
@media only screen and (max-width: 912px) {
  .slick_slider {
    right: 43px;
  }
  .slick_slider button:nth-child(1) {
    right: 109px;
  }
}
@media only screen and (max-width: 820px) {
  * {
    z-index: 0;
  }
  .slick_slider {
    right: 50px;
  }
}
@media only screen and (max-width: 540px) {
  .slider_container {
    flex-direction: column;
    height: 140px;
  }
  .slider_container div:nth-child(2) {
    width: 87vw;
    height: 70px;
  }
  .slider_container div:nth-child(2) div {
    width: 100%;
    height: 70px;
  }
  .left_part {
    flex-direction: row;
    width: 100%;
    height: 70px;
    padding: 0;
    border-radius: 10px 10px 0 0;
  }
  .left_part p {
    margin: auto;
  }
  .left_part p:nth-child(2) {
    margin: auto;
  }
  .slick_slider {
    right: 0;
  }
  .slick_slider button:nth-child(1) {
    right: 22px;
  }
  .box {
    width: 67vw !important;
  }
  .content_box {
    flex-direction: column !important;
  }
  .content_box span {
    display: none;
  }
  .content_box_text {
    flex-direction: row !important;
    justify-content: space-between !important;
  }
  .content_box_text p {
    padding: 0 !important;
  }
  .content_box_text p:nth-child(1) {
    margin-left: 16px;
  }
  .content_box_text p:nth-child(2) {
    margin: 0 30px 0 0;
  }
}

/*# sourceMappingURL=SummarySlider.module.css.map */
