$basic-color-turquoise: #029491;
$basic-color-white: #FFFFFF;
$basic-color-black: #000000;

$additional-color-orange : #FFB64F;
$additional-color-Turquoise-blue-Crayola : #7CE3E1;
$additional-color-blue :  #5970FF;
;