$basic-color-turquoise: #029491;
$basic-color-white: #FFFFFF;
$basic-color-black: #000000;

$additional-color-orange : #FFB64F;
$additional-color-Turquoise-blue-Crayola : #7CE3E1;
$additional-color-blue :  #5970FF;
$card-Business:  rgba(0, 0, 0, 1);
$card-Pro: rgba(124, 227, 225, 1);
$card-Beginner:rgba(255, 182, 79, 1);
$button-banner-color: #5970FF;
$button-card-color: #5970FF;
