
@font-face {
    font-family: 'ferry';
    font-style: normal;
    font-weight: normal;
    src: local('ferry-font.otf'), url('./fonts/ferry-font.otf') format("otf");
}

@font-face {
    font-family:'inter-variable' ;
    src: local('Inter-Variable.ttf'), url("./fonts/Inter-Variable.ttf") format('ttf');
}
